/* Arial vie vähemmän tilaa ja siistimpi - Verdana vie enemmän tilaa ja parempi lukea */

BODY, TD, TH, DL, UL, OL, P, b, a {FONT-FAMILY: Verdana,Arial,sans-serif; FONT-SIZE: 14px;}

body { margin: 0px; padding: 0px; color: #fff; }

p {color: #fff; } /* valkoiset tekstit tummalla */
.dark p {color: #000; } /* jotkut tummat tekstit vaalealla, ei ilmo */


.Votsikko {color: #000; } 

.catlinkki {color: #008; } /* darkblue */

.totalads {color:#fa0; font-size:10px; }  /* orange */


b {font-weight: bold;}

h1 { font-size:18px; }
h2 { font-size:16px;}
h3 { font-size:15px;      }
h4 { font-size:14px; }
h5 { font-size:13px; }
h6 { font-size:12px; }


h1,h2,h3,h4,h5,h6 { margin-top: 0.6em; margin-bottom: 0.6em; }

table { text-align:left; } 


td a:link {	color: white;	text-decoration: none;	font-weight: normal;  }
td a:visited {	color: white;	text-decoration: none;	font-weight: normal; }
td a:hover {	color: orange;	text-decoration: none; }


.ylapalkki {	color:orange;	text-decoration: underline;	font-weight: normal; font-size:12px; line-height: 8px;  FONT-FAMILY: Verdana,sans-serif; }
a.ylapalkki:link {	color:orange;	text-decoration: underline;	font-weight: normal; font-size:12px; line-height: 8px;  FONT-FAMILY: Verdana,sans-serif; }
a.ylapalkki:visited {	color:orange;	text-decoration: underline;	font-weight: normal; font-size:12px; line-height: 8px;  FONT-FAMILY: Verdana,sans-serif; }
a.ylapalkki:hover {	color: red;	text-decoration: none; }

a.ylapalkki2:link {	color: white;	text-decoration: none;	font: bold; FONT-FAMILY: Verdana,sans-serif; }
a.ylapalkki2:visited {	color: white;	text-decoration: none;	font: bold; FONT-FAMILY: Verdana,sans-serif; }
a.ylapalkki2:hover {	color: white;	text-decoration: underline; }

a.kuvap:link {	color:orange;	text-decoration: none;	font-weight: normal; font-size:13px; FONT-FAMILY: Verdana,sans-serif; }
a.kuvap:visited {	color:orange;	text-decoration: none;	font-weight: normal; font-size:13px; FONT-FAMILY: Verdana,sans-serif; }
a.kuvap:hover {	color: white;	text-decoration: none; }

a.kuvai:link {	color: white;	text-decoration: none;	font-weight: normal; font-size:14px; FONT-FAMILY: Verdana,sans-serif; }
a.kuvai:visited {	color: white;	text-decoration: none;	font-weight: normal; font-size:14px; FONT-FAMILY: Verdana,sans-serif; }
a.kuvai:hover {	color:orange;	text-decoration: none; }


blockquote.dark a:link {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
blockquote.dark a:visited {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
blockquote.dark a:hover {	color:orange;	text-decoration: underline; }

a.kategoria:link, a.kategoria:visited {	color: white; letter-spacing: 1px; text-decoration: none; font-size: 14px; font-weight: bold; font-family: Arial;  }
a.kategoria:hover {	color: white; text-decoration: underline; }

.huomio_tummalle {color: yellow; font-weight: bold;}
 
a:link {	color: white;	text-decoration: none;	FONT-FAMILY: Verdana,sans-serif; }
a:visited {	color: white;	text-decoration: none;	FONT-FAMILY: Verdana,sans-serif; }
a:hover {	color:orange;	text-decoration: underline; }

a.huomio:link {	color:orange;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.huomio:visited {	color:orange;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.huomio:hover {	color: white;	text-decoration: none; }

.huomio_vaalealle { color:#cc0000;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.huomio_vaalealle:link {	color:blue;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.huomio_vaalealle:visited {	color:blue;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.huomio_vaalealle:hover {	color: orange;	text-decoration: none; }


td.valikko a:link {	color:orange;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
td.valikko a:visited {	color:orange;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
td.valikko a:hover {	color: white;	text-decoration: underline; }



a.nayteikkunaan:link {	color: #21415A;	text-decoration: none;	FONT-SIZE: 12px;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.nayteikkunaan:visited {	color: #21415A;	text-decoration: none;	FONT-SIZE: 12px;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.nayteikkunaan:hover {	color: white;	text-decoration: none; }

/* tämä on uutta tekniikkaa */
a.dark:link {	color: orange;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.dark:visited {	color: orange;	text-decoration: none;	 font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.dark:hover {	color: #FF8A00;	text-decoration: underline; }



.normiteksti_1 {	color: #21415A; }
a.normilinkki_1:link {	color: blue;	text-decoration: underline;	 font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.normilinkki_1:visited {	color: blue;	text-decoration: underline;	 font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.normilinkki_1:hover {	color: #FF8A00;	text-decoration: none; }



span.dark a:link {	color: #21415A;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
span.dark a:visited {	color: #21415A;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
span.dark a:hover {	color: #FF8A00;	text-decoration: none; }

.vaalea a:link {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
.vaalea a:visited {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
.vaalea a:hover {	color:orange;	text-decoration: none; }

/* tälläiset yleismääritelmät pois */ 


/* linkkilistan otsikot menee muuten valkoiseksi */
span a:link {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
span a:visited {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
span a:hover {	color:orange;	text-decoration: none; }

.discreet { color:#a99; font-size:10px; }

.tarkea {	color: #00008B;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
span.tarkea a:link {	color: #00008B;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
span.tarkea a:visited {	color: #00008B;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
span.tarkea a:hover {	color:orange;	text-decoration: none; }




a.perusl:link  {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.perusl:visited {	color: blue;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.perusl:hover {	color:orange;	text-decoration: underline; }

a.perusl_b:link  {	color: blue;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.perusl_b:visited {	color: blue;	text-decoration: none;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.perusl_b:hover {	color:orange;	text-decoration: underline; }

a.perusl_H:link  {	color: #cc0000;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.perusl_H:visited {	color: #cc0000;	text-decoration: none;	font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.perusl_H:hover {	color:orange;	text-decoration: underline; }

a.perusl_iso:link  {	color: blue;	text-decoration: none;	FONT-SIZE: 15px; font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.perusl_iso:visited {	color: blue;	text-decoration: none;	FONT-SIZE: 15px; font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
a.perusl_iso:hover {	color:orange;	text-decoration: underline; }




.link_title_txt { background-color: #440000; font-size:14px; padding:7px 5px 8px 5px; }
.link_title_txt a:link { text-decoration: underline; color:orange; }
.link_title_txt a:visited { text-decoration: underline; color:orange;}
.link_title_txt a:hover { text-decoration: none; color:white; }


.catlinkki a:link {	color: blue;	text-decoration: none;	font-size:12px; font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
.catlinkki a:visited {	color: blue;	text-decoration: none;	font-size:12px; font-weight: normal; FONT-FAMILY: Verdana,sans-serif; }
.catlinkki a:hover {	color:orange;	text-decoration: none; }


.linkki_ilmossa {	color:#cc5500;	text-decoration: underline; 	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.linkki_ilmossa {	color:#cc5500;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.linkki_ilmossa:link {	color:#cc5500;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.linkki_ilmossa:visited {	color:#cc5500;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.linkki_ilmossa:hover {	color:red;	text-decoration: none; }


a.orange {	color:orange;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.orange:link {	color:orange;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.orange:visited {	color:orange;	text-decoration: underline;	font-weight: bold; FONT-FAMILY: Verdana,sans-serif; }
a.orange:hover {	color:red;	text-decoration: underline; }

span.orange a:link {	color:orange;	text-decoration: none;	font-weight: bold;  FONT-FAMILY: Verdana,sans-serif; }
span.orange a:visited {	color:orange;	text-decoration: none;	font-weight: bold;  FONT-FAMILY: Verdana,sans-serif; }
span.orange a:hover {	color:orange;	text-decoration: underline; }

.orange {color:orange; }
.plain { font-weight:normal; }

.dark {	color: #21415A; }
.teksti_ilmossa { color: #000000; font: normal 14px/16px Arial,sans-serif; } 

.snadi { color: #dddddd; FONT-SIZE: 12px; FONT-FAMILY: Verdana,sans-serif;}


.login_ruutu { background-color:#cc0000; }

.login_valikko {    text-align:center; font-weight: normal;  }
a.login_valikko { text-align:center;   font-weight: bold; text-decoration: none; }
a.login_valikko:link { text-align:center; font-weight: bold; text-decoration: none; }
a.login_valikko:hover {	color:orange;	text-decoration: bold; text-decoration: underline; }



.paa_valikko1  { FONT-FAMILY: Verdana,Arial,sans-serif; font-size:16px; font-weight:bold; } 

.navig_valikko2  { FONT-FAMILY: Verdana,Arial,sans-serif; font-size:14px; font-weight:normal; } 
a.navig_valikko2 { FONT-FAMILY: Arial,sans-serif; font-size:14px; font-weight:bold; text-decoration:none; } 
a.navig_valikko2:link  { FONT-FAMILY: Arial,sans-serif;  font-weight:bold; text-decoration:none;  } 
a.navig_valikko2:visited  { FONT-FAMILY: Arial,sans-serif;  font-weight:bold; text-decoration:none;  } 
a.navig_valikko2:hover  { color:orange; text-decoration:none;  } 

.paa_valikko2  { FONT-FAMILY: Verdana,Arial,sans-serif; font-weight:bold; } 
a.paa_valikko2:link { FONT-FAMILY: Verdana,Arial,sans-serif; font-weight:bold; color:orange; text-decoration:underline; }
a.paa_valikko2:visited { FONT-FAMILY: Verdana,Arial,sans-serif; font-weight:bold; color:orange; text-decoration:underline; }
a.paa_valikko2:hover  { color:white; text-decoration:none;  } 


.pk_huom  { font-weight:normal;  color:white; background-color:#660000; } 
a.pk_huom:link { font-weight:bold; color:yellow; background-color:#660000; text-decoration:underline;  }
a.pk_huom:visited {  font-weight:bold; color:yellow; background-color:#660000; text-decoration:underline;  }
a.pk_huom:hover  { color:white; font-weight:bold; background-color:#660000; text-decoration:none;   } 








.valikko { FONT-FAMILY: Verdana,sans-serif; font-weight: normal; }
.kuva {FONT-FAMILY: Arial,sans-serif; }
.valkoinen {color: #ffffff;}
.vaalea {color: #FF8C00;}

.title
{
	font-family: Arial, verdana, Geneva;
	font-size: 20px;
	font-weight: normal;
	color: #ffeedd;
}

.title2
{
	font-family: Arial, verdana, Geneva;
	font-size: 20px;
	font-weight: bold;
	color:#cc0000;
/*	color:#DC143C; */

}

.txt 
{
/* ilmo muokkaus */
   font-family: Arial, Helvetica, sans-serif; 
   font-size:125%;
   background-color: #eeeeee;
   border-color:#000000;
   border-style: solid;
   border-width: 1px;
}

.submit 
{
/* ilmo muokkaus */
	font-family: Arial, Helvetica, sans-serif; 
   	font-size:180%;
	border-style: solid;
   	border-width: 2px;	
	border-color:#f00;
}

input,select,textarea,option 
{
	border:1px solid #000000;
	color:#000000;
	background-color:#eeeeee;
	font-family: Arial, Geneva;
	font-size: 14px;
}

.warn { color:yellow; background-color:#990000; font-weight:bold;  }
a.warn { color:orange; font-weight:bold; font-size:14px;text-decoration:underline; }
a.warn:visited { color:orange; font-weight:bold; font-size:14px;text-decoration:underline; }
a.warn:link { color:orange; font-weight:bold; font-size:14px;text-decoration:underline; }
a.warn:hover { color:orange; font-weight:bold; font-size:14px;text-decoration:none; }


.star { color:orange; font-size: larger;}
UL { list-style-type: square; }
.red { color: #ff0000; font-weight: bold; font-size:14px; }

table.navbar {
/*   border-collapse: collapse; */
}
table.navbar td {
   border: 0px solid #000000;
   vertical-align:middle; 
}
table.navbar td a{
   display: block;
   width: 1024px;
/*   height: 80px;  */
   padding-bottom:30px;
   padding-top:30px;
   text-decoration: none;
}
table.navbar td a:link, table.navbar td a:visited {
   color: #000000;
   background-color: #cc0000;
}
table.navbar td a:hover, table.navbar td a:active {
   color: #000000;
   background-color: #ffffff;
}

table.navbar2 {
/*   border-collapse: collapse; */
}
table.navbar2 td {
   border: 0px solid #000000;
   vertical-align:middle; 
}
table.navbar2 td a{
   display: block;
   width: 1024px;
/*   height: 80px;  */
   padding-bottom:30px;
   padding-top:30px;
   text-decoration: none;
}
table.navbar2 td a:link, table.navbar2 td a:visited {
   color: #000000;
   background-color: orange;
}
table.navbar2 td a:hover, table.navbar2 td a:active {
   color: #000000;
   background-color: #ffffff;
}

table.navbar3 {
/*   border-collapse: collapse; */
}
table.navbar3 td {
   border: 0px solid #000000;
   vertical-align:middle; 
}
table.navbar3 td a{
   display: block;
   width: 1024px;
/*   height: 80px;  */
   padding-bottom:30px;
   padding-top:30px;
   text-decoration: none;
}
table.navbar3 td a:link, table.navbar3 td a:visited {
   color: #000000;
   background-color: yellow;
}
table.navbar3 td a:hover, table.navbar3 td a:active {
   color: #000000;
   background-color: #ffffff;
}



.online {
/* font: normal 8pt/9pt verdana; color: #333; */
/*  color: #000; */
font-style:oblique;
}


.input_photo{
   width:500px;
   height:40px;
   background-color: #fcc;
/*   font-weight: 700; */
   font-size:180%;
cursor: pointer; /* "hand" cursor */
}



/*
.upload_file_container{
   width:400px;
   height:40px;
   background-color: #9ff;
}
*/

/*
.upload_file_container input{
   width:300px;
   height:40px;
   cursor:pointer;
   background-color: #ff9;
}
*/



/* dropdown värit */

	a.dd1:link { color:white; }
	a.dd1:visited { color:white; }
	a.dd2:link { color:orange; }
	a.dd2:visited { color:orange; }
	a.dd3:link { color:white; }
	a.dd3:visited { color:white; }
	a.dd4:link { color:white; }
	a.dd4:visited { color:white; }
	a.dd5:link { color:white; }
	a.dd5:visited { color:white; }
	a.dd6:link { color:white; }
	a.dd6:visited { color:white; }
	a.dd7:link { color:white; }
	a.dd7:visited { color:white; }
	a.dd8:link { color:white; }
	a.dd8:visited { color:white; }
	a.dd9:link { color:white; }
	a.dd9:visited { color:white; }

	a.dd10:link { color:white; }
	a.dd10:visited { color:white; }
	a.dd11:link { color:white; }
	a.dd11:visited { color:white; }
	a.dd12:link { color:white; }
	a.dd12:visited { color:white; }

	a.dda:link { color:white; }
	a.dda:visited { color:white; }



.etusivuvasen { color: #ffffff; }
.etusivuvasen a:link {	color:orange;	text-decoration: none;	font-weight: normal; }
.etusivuvasen a:visited {	color:orange;	text-decoration: none;	font-weight: normal;  }
.etusivuvasen a:hover {	color:orange;	text-decoration: underline; }

.harmaa_es {
	font: normal 7pt/8pt verdana; 
	color: #666666;
}
.vaalea_es {
	font: bold 7pt/8pt verdana; 
	color: #ffffff;
}
p.harmaa_es {
	font: normal 7pt/8pt verdana; 
	color: #666666;
}

.harmaa_es p {
	font: normal 7pt/8pt verdana; 
	color: #666666;
}

.puhsexmainos_pic { 
/*	border-color:#FFFFFF; border-width: 1px; border:thin;  */
	border-style:solid;
	border-color: white;
	border-width:1px;
	width:123px;
}
.puhsexmainos { 
/*	border-color:#FFFFFF; border-width: 1px; border:thin;  */
	background-color:#FFFFFF;
	color:#26445E;
}
.puhsexmainos p { 
/*	border-color:#FFFFFF; border-width: 1px; border:thin;  */
	color:#26445E;
	margin:8px;
}


table.valkreunus {
	border-width: 1px;
	border-spacing: 1px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	background-color: white;
}

.reuna-vaalea { border-width: 1px; border-spacing: 0px; border-style: solid; border-color: #f99; }


.hailakka { color:#FFDC9F; } /* hailakan kellertävän vaalea teksti*/

/* light_BG darker_BG */
.ext2_light_BG { background-color:#b00; }
.ext_light_BG { background-color:#a00; }
.light_BG { background-color:#990000; }
.lighter_BG { background-color:#800000; }
.norm_BG { background-color:#660000; }
.darker_BG { background-color:#550000; }
.middark_BG { background-color:#440000; }
.dark_BG { background-color:#330000; }

.header_table { 
	background-color:#660000; 
/*	puolukanpunainen crimson #DC143C; */
/* 660000 valittu tumma 440000 tummin punainen mikä ei ole ruskea 551188 440000 220011  330022 330011 */
}

.header_td { 
	background-color:#660000; 
}

.navig_valikko_td { 
	background-color:#990000; 

}

.navig_valikko_td_e { 
/*	background-color:#cc0000; */
	background-color: #DC143C; 

}

.kirkas_mainos {
	background-color:#990000; 
}


.vastaa_ilmoon1 {
border-width:2px;
border-color:#ff0000;
border-top-style:solid;
border-right-style:none;
border-bottom-style:solid;
border-left-style:solid;
}

.vastaa_ilmoon2 {
border-width:2px;
border-color:#ff0000;
border-top-style:solid;
border-right-style:solid;
border-bottom-style:solid;
border-left-style:none;
}



#droppi {
	float:left; 
	border:0px solid #ffffff;
/*	width:385px; */ /* määritellään funktiossa */
	margin-top:8px;
	padding:0px;
}

.selecti {
	float:left;
	border:0px solid #ff0000;
}

.formSelect { height: 25px !important; }


.VARJO_oik {
/*	position:absolute; top:302px; left:1020px; */
	position:relative; top:0px; left:2px; 

/*	margin-left: 0px; margin-right: 0px; */

	margin-top: 10px; margin-bottom:10px; 

	-moz-box-shadow: 0px 0px 40px 10px #fff; 
	-webkit-box-shadow: 0px 0px 40px 10px #fff; 
	box-shadow: 0px 0px 40px 10px #fcc; /* left right blur size */
}

.VARJO_oik_PH { width:170px; height:220px;}

div.rotate_left
{

position:relative; top:0px; left:10px; 
margin-top: 25px;
margin-bottom: 25px;

-ms-transform:rotate(3deg); /* IE 9 */
-webkit-transform:rotate(3deg); /* Chrome, Safari, Opera */
transform:rotate(3deg);

-moz-box-shadow: 1px 1px 7px 3px #fff; 
-webkit-box-shadow: 1px 1px 7px 3px #fff; 
box-shadow: 1px 1px 7px 3px #fff; /* left right blur size */
}

div.rotate_tower
{

position:relative; top:0px; left:-15px; 
margin-top: 0px;
margin-bottom: 15px;

-ms-transform:rotate(2deg); /* IE 9 */
-webkit-transform:rotate(2deg); /* Chrome, Safari, Opera */
transform:rotate(2deg);

}

.special_mainos {

position:relative; top:0px; left:70px; 

margin-top: 10px; margin-bottom:5px; 

-moz-box-shadow: 0px 0px 40px 5px #fff; 
-webkit-box-shadow: 0px 0px 40px 5px #fff; 
box-shadow: 0px 0px 40px 5px #fff; /* left right blur size */
 
}

