/* VIP CSS Document */


.VIPkuva_1 { margin:1px;  border:1px solid #ff0000;  height:auto;  width:auto; }
.VIPkuva_2 { margin:1px;  border:1px solid #00ff00;  height:auto;  width:auto; }
.VIPkuva_3 { margin:1px;  border:1px solid #0000ff;  height:auto;  width:auto; }
.VIPkuva_4 { margin:1px;  border:1px solid #ffff00;  height:auto;  width:auto;  }
.VIPkuva_5 { margin:1px;  border:1px solid #00ffff;  height:auto;  width:auto; }
.VIPkuva_6 { margin:1px;  border:1px solid #ff00ff;  height:auto;  width:auto; }

.VIPkuva_7 { margin:1px;  border:1px solid #cc0000;  height:auto;  width:auto; }
.VIPkuva_8 { margin:1px;  border:1px solid #00cc00;  height:auto;  width:auto; }
.VIPkuva_9 { margin:1px;  border:1px solid #0000cc;  height:auto;  width:auto; }
.VIPkuva_10 { margin:1px;  border:1px solid #cccc00;  height:auto;  width:auto; }
.VIPkuva_11 { margin:1px;  border:1px solid #00cccc;  height:auto;  width:auto; }
.VIPkuva_12 { margin:1px;  border:1px solid #cc00cc;  height:auto;  width:auto; }
.VIPkuva_13 { margin:0px;  border:2px solid #ffffff;  height:auto;  width:auto; }

.VIP_table_rivi_v_1 {   
    border-bottom:1px solid #ff0000;
    border-top:1px solid #ff0000;
    border-right:0px solid #ff0000;
    border-left:1px solid #ff0000;
    border-collapse:collapse;
}
.VIP_table_rivi_k_1 {   
    border-bottom:1px solid #ff0000;
    border-top:1px solid #ff0000;
    border-right:0px solid #ff0000;
    border-left:0px solid #ff0000;
    border-collapse:collapse;
}
.VIP_table_rivi_o_1 {   
    border-bottom:1px solid #ff0000;
    border-top:1px solid #ff0000;
    border-right:1px solid #ff0000;
    border-left:0px solid #ff0000;
    border-collapse:collapse;
}

.VIP_table_rivi_v_2 {   
    border-bottom:1px solid #00ff00;
    border-top:1px solid #00ff00;
    border-right:0px solid #00ff00;
    border-left:1px solid #00ff00;
    border-collapse:collapse;
}
.VIP_table_rivi_k_2 {   
    border-bottom:1px solid #00ff00;
    border-top:1px solid #00ff00;
    border-right:0px solid #00ff00;
    border-left:0px solid #00ff00;
    border-collapse:collapse;
}
.VIP_table_rivi_o_2 {   
    border-bottom:1px solid #00ff00;
    border-top:1px solid #00ff00;
    border-right:1px solid #00ff00;
    border-left:0px solid #00ff00;
    border-collapse:collapse;
}

.VIP_table_rivi_v_3 {   
    border-bottom:1px solid #0000ff;
    border-top:1px solid #0000ff;
    border-right:0px solid #0000ff;
    border-left:1px solid #0000ff;
    border-collapse:collapse;
}
.VIP_table_rivi_k_3 {   
    border-bottom:1px solid #0000ff;
    border-top:1px solid #0000ff;
    border-right:0px solid #0000ff;
    border-left:0px solid #0000ff;
    border-collapse:collapse;
}
.VIP_table_rivi_o_3 {   
    border-bottom:1px solid #0000ff;
    border-top:1px solid #0000ff;
    border-right:1px solid #0000ff;
    border-left:0px solid #0000ff;
    border-collapse:collapse;
}

.VIP_table_rivi_v_4 {   
    border-bottom:1px solid #cccc00;
    border-top:1px solid #cccc00;
    border-right:0px solid #cccc00;
    border-left:1px solid #cccc00;
    border-collapse:collapse;
}
.VIP_table_rivi_k_4 {   
    border-bottom:1px solid #cccc00;
    border-top:1px solid #cccc00;
    border-right:0px solid #cccc00;
    border-left:0px solid #cccc00;
    border-collapse:collapse;
}
.VIP_table_rivi_o_4 {   
    border-bottom:1px solid #cccc00;
    border-top:1px solid #cccc00;
    border-right:1px solid #cccc00;
    border-left:0px solid #cccc00;
    border-collapse:collapse;
}

.VIP_table_rivi_v_5 {   
    border-bottom:1px solid #00ffff;
    border-top:1px solid #00ffff;
    border-right:0px solid #00ffff;
    border-left:1px solid #00ffff;
    border-collapse:collapse;
}
.VIP_table_rivi_k_5 {   
    border-bottom:1px solid #00ffff;
    border-top:1px solid #00ffff;
    border-right:0px solid #00ffff;
    border-left:0px solid #00ffff;
    border-collapse:collapse;
}
.VIP_table_rivi_o_5 {   
    border-bottom:1px solid #00ffff;
    border-top:1px solid #00ffff;
    border-right:1px solid #00ffff;
    border-left:0px solid #00ffff;
    border-collapse:collapse;
}

.VIP_table_rivi_v_6 {   
    border-bottom:1px solid #ff00ff;
    border-top:1px solid #ff00ff;
    border-right:0px solid #ff00ff;
    border-left:1px solid #ff00ff;
    border-collapse:collapse;
}
.VIP_table_rivi_k_6 {   
    border-bottom:1px solid #ff00ff;
    border-top:1px solid #ff00ff;
    border-right:0px solid #ff00ff;
    border-left:0px solid #ff00ff;
    border-collapse:collapse;
}
.VIP_table_rivi_o_6 {   
    border-bottom:1px solid #ff00ff;
    border-top:1px solid #ff00ff;
    border-right:1px solid #ff00ff;
    border-left:0px solid #ff00ff;
    border-collapse:collapse;
}

.VIP_table_rivi_v_7 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:0px solid #ffffff;
    border-left:1px solid #ffffff;
    border-collapse:collapse;
}
.VIP_table_rivi_k_7 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:0px solid #ffffff;
    border-left:0px solid #ffffff;
    border-collapse:collapse;
}
.VIP_table_rivi_o_7 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-left:0px solid #ffffff;
    border-collapse:collapse;
}

.VIP_table_rivi_v_8 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:0px solid #ffffff;
    border-left:1px solid #ffffff;
    border-collapse:collapse;
}
.VIP_table_rivi_k_8 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:0px solid #ffffff;
    border-left:0px solid #ffffff;
    border-collapse:collapse;
}
.VIP_table_rivi_o_8 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-left:0px solid #ffffff;
    border-collapse:collapse;
}

.VIP_table_rivi_v_9 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:0px solid #ffffff;
    border-left:1px solid #ffffff;
    border-collapse:collapse;
}
.VIP_table_rivi_k_9 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:0px solid #ffffff;
    border-left:0px solid #ffffff;
    border-collapse:collapse;
}
.VIP_table_rivi_o_9 {   
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-left:0px solid #ffffff;
    border-collapse:collapse;
}

.VIP_table_rivi_v_10 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:0px solid #000000;
    border-left:1px solid #000000;
    border-collapse:collapse;
}
.VIP_table_rivi_k_10 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:0px solid #000000;
    border-left:0px solid #000000;
    border-collapse:collapse;
}
.VIP_table_rivi_o_10 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:1px solid #000000;
    border-left:0px solid #000000;
    border-collapse:collapse;
}

.VIP_table_rivi_v_11 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:0px solid #000000;
    border-left:1px solid #000000;
    border-collapse:collapse;
}
.VIP_table_rivi_k_11 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:0px solid #000000;
    border-left:0px solid #000000;
    border-collapse:collapse;
}
.VIP_table_rivi_o_11 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:1px solid #000000;
    border-left:0px solid #000000;
    border-collapse:collapse;
}

.VIP_table_rivi_v_12 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:0px solid #000000;
    border-left:1px solid #000000;
    border-collapse:collapse;
}
.VIP_table_rivi_k_12 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:0px solid #000000;
    border-left:0px solid #000000;
    border-collapse:collapse;
}
.VIP_table_rivi_o_12 {   
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    border-right:1px solid #000000;
    border-left:0px solid #000000;
    border-collapse:collapse;
}

.VIP_table_rivi_v_13 {   
    border-bottom:2px solid #ff0000;
    border-top:2px solid #ff0000;
    border-right:0px solid #ff0000;
    border-left:2px solid #ff0000;
    border-collapse:collapse;
}
.VIP_table_rivi_k_13 {   
    border-bottom:2px solid #ff0000;
    border-top:2px solid #ff0000;
    border-right:0px solid #ff0000;
    border-left:0px solid #ff0000;
    border-collapse:collapse;
}
.VIP_table_rivi_o_13 {   
    border-bottom:2px solid #ff0000;
    border-top:2px solid #ff0000;
    border-right:2px solid #ff0000;
    border-left:0px solid #ff0000;
    border-collapse:collapse;
}




.VIPrivi_1 { background-color:#ffcccc; }
.VIPrivi_2 { background-color:#ccffcc; }
.VIPrivi_3 { background-color:#ccccff; }
.VIPrivi_4 { background-color:#ffffcc; } /* keltanen */
.VIPrivi_5 { background-color:#ccffff; }
.VIPrivi_6 { background-color:#ffccff; }
.VIPrivi_7 { background-color:#990000; color:#ffffff; }
.VIPrivi_8 { background-color:#009900; color:#ffffff; }
.VIPrivi_9 { background-color:#000099; color:#ffffff; }
.VIPrivi_10 { background-color:#666600; color:#ffffff; } /* keltanen */
.VIPrivi_11 { background-color:#009999; color:#ffffff; }
.VIPrivi_12 { background-color:#990099; color:#ffffff; }
.VIPrivi_13 { background-color:#000000; color:#ff0000; }


a.VIPotsikko_1 { color:#990000; } 
a.VIPotsikko_1:link  { color:#990000;  } 
a.VIPotsikko_1:visited  { color:#990000;  } 

a.VIPotsikko_2 { color:#009900; } 
a.VIPotsikko_2:link  { color:#009900;  } 
a.VIPotsikko_2:visited  { color:#009900;  } 

a.VIPotsikko_3 { color:#000099; } 
a.VIPotsikko_3:link  { color:#000099;  } 
a.VIPotsikko_3:visited  { color:#000099;  } 

a.VIPotsikko_4 { color:#666600; } 
a.VIPotsikko_4:link  { color:#666600;  } /* keltanen */
a.VIPotsikko_4:visited  { color:#666600;  } 

a.VIPotsikko_5 { color:#009999; } 
a.VIPotsikko_5:link  { color:#009999;  } 
a.VIPotsikko_5:visited  { color:#009999;  } 

a.VIPotsikko_6 { color:#990099; } 
a.VIPotsikko_6:link  { color:#990099;  } 
a.VIPotsikko_6:visited  { color:#990099;  } 

a.VIPotsikko_7 { color:#ffcccc; } 
a.VIPotsikko_7:link  { color:#ffcccc;  } 
a.VIPotsikko_7:visited  { color:#ffcccc;  } 
/*
a.VIPotsikko_8 { color:#ccffcc; } 
a.VIPotsikko_8:link  { color:#ccffcc;  } 
a.VIPotsikko_8:visited  { color:#ccffcc;  } 
*/
a.VIPotsikko_8 { color:#fff; } 
a.VIPotsikko_8:link  { color:#fff;  } 
a.VIPotsikko_8:visited  { color:#fff;  } 

a.VIPotsikko_9 { color:#ccccff; } 
a.VIPotsikko_9:link  { color:#ccccff;  } 
a.VIPotsikko_9:visited  { color:#ccccff;  } 

a.VIPotsikko_10 { color:#ffffcc; } 
a.VIPotsikko_10:link  { color:#ffffcc;  } /* keltanen */
a.VIPotsikko_10:visited  { color:#ffffcc;  } 
/*
a.VIPotsikko_11 { color:#ccffff; } 
a.VIPotsikko_11:link  { color:#ccffff;  } 
a.VIPotsikko_11:visited  { color:#ccffff;  } 
*/
a.VIPotsikko_11 { color:#fff; } 
a.VIPotsikko_11:link  { color:#fff;  } 
a.VIPotsikko_11:visited  { color:#fff;  } 

a.VIPotsikko_12 { color:#ffccff; } 
a.VIPotsikko_12:link  { color:#ffccff;  } 
a.VIPotsikko_12:visited  { color:#ffccff;  } 

a.VIPotsikko_13 { color:#ff0000; } 
a.VIPotsikko_13:link  { color:#ff0000;  } 
a.VIPotsikko_13:visited  { color:#ff0000;  } 




a.VIPotsikko { FONT-FAMILY: Arial,Sans-serif;  font-size:14px; font-weight:bold; text-decoration:none; } 
a.VIPotsikko:link  { FONT-FAMILY: Arial,Sans-serif;  font-size:14px; font-weight:bold; text-decoration:none;  } 
a.VIPotsikko:visited  { FONT-FAMILY: Arial,Sans-serif; font-size:14px; font-weight:bold; text-decoration:none;  } 
a.VIPotsikko:hover  { color:red; text-decoration:underline;  }



a.VIPotsikko_D { FONT-FAMILY: Arial,Sans-serif;  font-size:14px; font-weight:bold; text-decoration:none; } 
a.VIPotsikko_D:link  { FONT-FAMILY: Arial,Sans-serif;  font-size:14px; font-weight:bold; text-decoration:none; color:#000;  } 
a.VIPotsikko_D:visited  { FONT-FAMILY: Arial,Sans-serif; font-size:14px; font-weight:bold; text-decoration:none; color:#000;  } 
a.VIPotsikko_D:hover  { text-decoration:underline; color:#000;  }

a.VIPotsikko_L { FONT-FAMILY: Arial,Sans-serif;  font-size:14px; font-weight:bold; text-decoration:none; } 
a.VIPotsikko_L:link  { FONT-FAMILY: Arial,Sans-serif;  font-size:14px; font-weight:bold; text-decoration:none; color:#fff;  } 
a.VIPotsikko_L:visited  { FONT-FAMILY: Arial,Sans-serif; font-size:14px; font-weight:bold; text-decoration:none; color:#fff;  } 
a.VIPotsikko_L:hover  { text-decoration:underline; color:#fff;  }



table.VIPreunus_1 {
	border-color: #ff0000;
	background-color:#ffdddd;
}
table.VIPreunus_2 {
	border-color: #00ff00;
	background-color:#ddffdd;
}
table.VIPreunus_3 {
	border-color: #0000ff;
	background-color:#ddddff; 
}
table.VIPreunus_4 {
	border-color: #ffff00;
	background-color:#ffffdd;
}
table.VIPreunus_5 {
	border-color: #00ffff;
	background-color:#ddffff;
}
table.VIPreunus_6 {
	border-color: #ff00ff;
	background-color:#ffddff; 
}
table.VIPreunus_7 {
	border-color: #cc0000;
	background-color:#ffcccc;
}
table.VIPreunus_8 {
	border-color: #00cc00;
	background-color:#ccffcc;
}
table.VIPreunus_9 {
	border-color: #0000cc;
	background-color:#ccccff;
}
table.VIPreunus_10 {
	border-color: #cccc00;
	background-color:#ffffcc;
}
table.VIPreunus_11 {
	border-color: #00cccc;
	background-color:#ccffff;
}
table.VIPreunus_12 {
	border-color: #cc00cc;
	background-color:#ffccff;
}
table.VIPreunus_13 {
	border-color: #800080;
	background-color:#ffdddd;
}

table.VIPreunus {
	border-width: 2px;
	border-spacing: 1px;
	border-style: solid;
	border-collapse: collapse;
}

//////////////



.kuva_ilmossa_2 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #00ff00;
	background-color:#ddffdd;
}

.kuva_ilmossa_3 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #0000ff;
	background-color:#ddddff; 
}
.kuva_ilmossa_4 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #ffff00;
	background-color:#ffffdd;
}
.kuva_ilmossa_5 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #00ffff;
	background-color:#ddffff;
}
.kuva_ilmossa_6 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #ff00ff;
	background-color:#ffddff; 
}
.kuva_ilmossa_7 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #cc0000;
	background-color:#ffcccc;
}
.kuva_ilmossa_8 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #00cc00;
	background-color:#ccffcc;
}
.kuva_ilmossa_9 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #0000cc;
	background-color:#ccccff;
}
.kuva_ilmossa_10 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #cccc00;
	background-color:#ffffcc;
}
.kuva_ilmossa_11 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #00cccc;
	background-color:#ccffff;
}
.kuva_ilmossa_12 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #cc00cc;
	background-color:#ffccff;
}
.kuva_ilmossa_13 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #800080;
	background-color:#ffdddd;
}
.kuva_ilmossa_1 {
	border: 2px;
	padding:1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #ff0000;
	background-color:#ffdddd;
}



a img.kuva_ilmossa:hover {
	border-color: orange;
}


/*
a img.kuva_ilmossa:visited {
	border-color: red;
}
a img.kuva_ilmossa:link {
	border-color: red;
}
*/



img.kuva_ilmossa_nikkuna_1 { padding:0px; border:3px solid #ff0000; background-color:#ffdddd; }
img.kuva_ilmossa_nikkuna_1:hover { padding:0px; border:3px solid #ffdddd; background-color:#ff0000; }

img.kuva_ilmossa_nikkuna_2 { padding:0px; border:3px solid #00ff00; background-color:#ddffdd; }
img.kuva_ilmossa_nikkuna_2:hover { padding:0px; border:3px solid #ddffdd; background-color:#00ff00; }

img.kuva_ilmossa_nikkuna_3 { padding:0px; border:3px solid #0000ff; background-color:#ddddff; }
img.kuva_ilmossa_nikkuna_3:hover { padding:0px; border:3px solid #ddddff; background-color:#0000ff; }

img.kuva_ilmossa_nikkuna_4 { padding:0px; border:3px solid #ffff00; background-color:#ffffdd; }
img.kuva_ilmossa_nikkuna_4:hover { padding:0px; border:3px solid #ffffdd; background-color:#ffff00; }

img.kuva_ilmossa_nikkuna_5 { padding:0px; border:3px solid #00ffff; background-color:#ddffff; }
img.kuva_ilmossa_nikkuna_5:hover { padding:0px; border:3px solid #ddffff; background-color:#00ffff; }

img.kuva_ilmossa_nikkuna_6 { padding:0px; border:3px solid #ff00ff; background-color:#ffddff; }
img.kuva_ilmossa_nikkuna_6:hover { padding:0px; border:3px solid #ffddff; background-color:#ff00ff; }

img.kuva_ilmossa_nikkuna_7 { padding:0px; border:3px solid #cc0000; background-color:#ffcccc; }
img.kuva_ilmossa_nikkuna_7:hover { padding:0px; border:3px solid #ffcccc; background-color:#cc0000; }

img.kuva_ilmossa_nikkuna_8 { padding:0px; border:3px solid #00cc00; background-color:#ccffcc; }
img.kuva_ilmossa_nikkuna_8:hover { padding:0px; border:3px solid #ccffcc; background-color:#00cc00; }

img.kuva_ilmossa_nikkuna_9 { padding:0px; border:3px solid #0000cc; background-color:#ccccff; }
img.kuva_ilmossa_nikkuna_9:hover { padding:0px; border:3px solid #ccccff; background-color:#0000cc; }

img.kuva_ilmossa_nikkuna_10 { padding:0px; border:3px solid #cccc00; background-color:#ffffcc; }
img.kuva_ilmossa_nikkuna_10:hover { padding:0px; border:3px solid #ffffcc; background-color:#cccc00; }

img.kuva_ilmossa_nikkuna_11 { padding:0px; border:3px solid #00cccc; background-color:#ccffff; }
img.kuva_ilmossa_nikkuna_11:hover { padding:0px; border:3px solid #ccffff; background-color:#00cccc; }

img.kuva_ilmossa_nikkuna_12 { padding:0px; border:3px solid #cc00cc; background-color:#ffccff; }
img.kuva_ilmossa_nikkuna_12:hover { padding:0px; border:3px solid #ffccff; background-color:#cc00cc; }

img.kuva_ilmossa_nikkuna_13 { padding:0px; border:3px solid #800080; background-color:#ffdddd; }
img.kuva_ilmossa_nikkuna_13:hover { padding:0px; border:3px solid #ffdddd; background-color:#800080; }





/*
a.kuva_ilmossa_linkki { padding:1px; border:1px solid red; background-color:blue; }
a.kuva_ilmossa_linkki:hover { padding:1px; border:1px solid red; background-color:green; }
// ei toimi hyvin
*/
