.dropdown-menu,
.modal-content,
.panel,
.list-group-item {

}
html,
body {
    background: #170921;
    background-image: url('https://cdn.randomi.fi/style/violet.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
}
.nav-pills>li>a {
    color: #ff0080
}
body a {
    color: #be45e6;
}
.nav-pills>li {
    background: rgba(185, 160, 173, 0.9)
}
body .navbar-inverse .navbar-nav>li>a:hover,
body .nav-pills .active a:hover,
body .btn-info:hover,
body a.list-group-item.active:hover {
    background-color: #660033
}
body .smallertop {
    background-color: #431663
}
body .btn-info,
body a.list-group-item.active,
body .nav-pills .active a,
body .navbar-orange {
    background-color: #170921
}
body .panel,
body .btn-info,
body .btn-info:hover,
body a.list-group-item.active,
body .navbar-orange {
    border-color: #170921;
}


body .btn-success {
    background-color: #170921;
    border-color: #170921;
}

.dropdown-menu a {
    color: #333;
}
.panel-default>.panel-heading {
    background-color: #170921;
}
.blogTitle,
a.list-group-item.active,
body .navbar-orange .navbar-nav>li>a,
.panel-default>.panel-heading,
body .nav-pills .active a,
.btn-info {
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-offcanvas {
        left: -250px;
    }
}

.oldline:nth-child(even) {
  background: #383137;
}

body .dropdown-menu.notifi a {
      color: #eee;  
}